.page-heading {
  display: flex;
  align-items: center;
}

img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 3px solid rgb(0 0 0 / 0.4);
}

.current-info {
  margin-left: 5%;
}

.expertise-area {
  border: 1px solid #333;
  border-radius: 6px;
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
}

.expertise-area > p {
  font-family: monospace;
  margin: 9px;
}

.work-experience {
  margin-bottom: 30px;
}

.job-title,
.volunteer-org {
  font-weight: 900;
  font-size: 27px;
  
  margin-top: 0;
  margin-bottom: 12px;
}

.company,
.volunteer-title {
  font-weight: 500;
  font-size: 18px;

  margin-top: 0;
  margin-bottom: 12px;
}

.work-dates,
.volunteer-dates {
  font-weight: 300;
  font-size: 18px;
  
  margin-top: 0;
  margin-bottom: 12px;
}

.job-task-bullet {
  margin-bottom: 12px;
}

.technical-skills {
  margin-bottom: 42px;
}

.technical-skill {
  border-radius: 6px;
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
}

.technical-skill > p {
  font-family: monospace;
  color: white;
  font-size: 15px;
  margin: 9px;
  font-weight: 700;
}

.technical-skill-all {
  border-radius: 6px;
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
  border: 1px solid #333;
}

.technical-skill-all > p {
  font-family: monospace;
  color: #333;
  margin: 9px;
  font-weight: 700;
}

.extra-experience {
  display: flex;
}

/* Direct child of .extra-experience */
.volunteer-work {
  width: calc(100% / 2);
}

/* Direct child of .extra-experience */
.personal-projects {
  width: calc(100% / 2);
  
  /* #333 with opacity */
  background-color: rgba(51 51 51 / 0.4);
  color: white;
  border-radius: 6px;
}

.personal-projects > h1 {
  color: white;
  
  /* Same as the margin of .github-project */
  padding-left: 12px;
}

.extra-experience-container {
  border-radius: 6px;
  padding: 0 16px;
  overflow: hidden;
  height: 200px;
  margin-bottom: 16px;
}

.volunteer-container {
  border: 1px solid black;
  margin-right: 16px;
}

/* Child of class="extra-experience-container volunteer-container" */
.volunteer-experience-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.github-project {
  background-color: white;
  
  /* We want this to be the same width as .volunteer-container which has total
     horizontal margin of 24px */
  margin-left: 12px;
  margin-right: 12px;
}

.github-project-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.github-skill {
  border-radius: 6px;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
}

.technical-skill > p {
  font-family: monospace;
  font-size: 15px;
  color: white;
  margin: 6px;
  font-weight: 700;
}

.github-repo-name {
  margin: 0;
  margin-bottom: 9px;
}

.github-repo-description {
  font-size: 18px;
  margin: 0;
  margin-bottom: 9px;
}

.github-link{
  font-size: 18px;
  margin: 0;
  margin-bottom: 9px;
  font-weight: 700;
  color: purple;
}

/* ====== Mobile CSS ====== */
@media only screen and (max-width: 480px) {
  
#current-title {
  font-size: 18px;
}

img {
  width: 100px;
  height: 100px;
}

.technical-skill > p,
.technical-skill-all > p,
.expertise-area > p {
  font-size: 9px;
}

.extra-experience {
  display: block;
}

.volunteer-work,
.personal-projects {
  width: 100%;
}

}
