.page-heading {
  display: flex;
  align-items: center;
}

img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 3px solid rgb(0 0 0 / 0.4);
}

.current-info {
  margin-left: 5%;
}

.expertise-area {
  border: 1px solid #333;
  border-radius: 6px;
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
}

.expertise-area > p {
  margin: 9px;
}

.work-experience {
  margin-bottom: 30px;
}

.job-title,
.volunteer-org {
  font-weight: 900;
  font-size: 27px;
  
  margin-top: 0;
  margin-bottom: 12px;
}

.company,
.volunteer-title {
  font-weight: 500;
  font-size: 18px;

  margin-top: 0;
  margin-bottom: 12px;
}

.work-dates,
.volunteer-dates {
  font-weight: 300;
  font-size: 18px;
  
  margin-top: 0;
  margin-bottom: 12px;
}

.job-task-bullet {
  margin-bottom: 12px;
}

.technical-skills {
  margin-bottom: 42px;
}

.technical-skill {
  border-radius: 6px;
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
}

.technical-skill > p {
  color: white;
  margin: 9px;
  font-weight: 700;
}

.extra-experience {
  display: flex;
}

/* Direct child of .extra-experience */
.volunteer-work {
  width: calc(100% / 2);
}

/* Direct child of .extra-experience */
.personal-projects {
  width: calc(100% / 2);
  
  /* #333 with opacity */
  background-color: rgba(51 51 51 / 0.4);
  color: white;
  border-radius: 6px;
}

.personal-projects > h1 {
  color: white;
  padding-left: 9px;
}

.extra-experience-container {
  margin-right: 16px;
  border-radius: 6px;
  padding: 0 16px;
  overflow: hidden;
  height: 200px;
}

.volunteer-container {
  border: 1px solid black;
}

/* Child of class="extra-experience-container volunteer-container" */
.volunteer-experience-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}