/* Start button and text colors */
.white-text {
  color: white;
}

.white-background-color {
  background-color: white;
}

.blue-text { 
  color: #2777ff;
}

.blue-background {
  background-color: #2777ff;
}

.blue-border {
  border: 1px solid #2777ff;
}

.blue-button-hover-invert:hover {
  color: #2777ff;
  background-color: white;
  border: 1px solid #2777ff;
}

.yellow-text {
  color: #ffbd03;
}

.yellow-border {
  border: 1px solid #ffbd03;
}

.yellow-background {
  background-color: #ffbd03;
}

.yellow-button-hover-invert:hover {
  color: #ffbd03;
  background-color: white;
  border: 1px solid #ffbd03;
}

.red-text {
  color: #eb4034;
}

.red-border {
  border: 1px solid #eb4034;
}

.red-background {
  background-color: #eb4034;
}

.red-button-hover-invert:hover {
  color: #eb4034;
  background-color: white;
  border: 1px solid #eb4034;
}

.dark-purple-text {
   color: #190a24;
}

.dark-purple-background-color {
  background-color: #190a24;
}

/* End button and text colors */
/* Start terminal and code dark mode colors */

.dark-mode-background {
  background-color: #18191a;
  color: white;
  font-weight: 700;
  overflow: scroll;
}

.dark-mode-background > a{
  text-decoration: none;
  color: white;
}

/* End terminal and code dark mode colors */