/* ====== Start common CSS ====== */

.course-top-level-container {
  /* Prefer margin to padding so sub-elements can use 100% of div space */
  margin-left: 20%;
  margin-right: 20%;
}

pre {
  border-radius: 6px;
  padding: 18px;
  font-family: monospace;
}

/* ====== End common CSS ====== */
/* ====== Start course home CSS ====== */

.preface {
  padding: 30px;
  border-radius: 6px;
}

.file-name-header {
  border-bottom: 2px solid rgba(51 51 51 /0.4);
  padding-bottom: 6px;
}

.tutorial-todo-level {
  margin: 0;
  font-size: 27px;
}

.tutorial-button {
  width: 100%;
  margin-top: 12px;
  
  font-size: 27px;
  text-align: left;
  background-color: white;
  font-weight: 500;
  border: 1px solid white;
}

/* ====== End course home CSS ====== */