/* ====== Start learning path CSS ====== */

.learning-path-container {
  background-color: rgb(245, 245, 245);
}

.learning-path-container h1 {
  margin-left: 3%;
}

.learning-path {
  display: inline-block;

  overflow: hidden;

  margin-top: 18px;
  margin-bottom: 36px;
  margin-left: 3%; 
  margin-right: 3%;
  width: 42%;
  height: 200px;
}

/* Button is inside of anchor tag. In order for button to fill entire div, we
   the anchor tag to fill the entire div. */
.learning-path > a {
  width: 100%;
  height: 100%;
}

.learning-path > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  
  text-align: left;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #333;
  
}

.learning-path > button:hover {
  color: white;
  background-color: rgba(0 0 0 / 0.5);
}

.learning-path a {
  text-decoration: none;
  margin: 0;
}

.learning-path h2 {
  margin: 0;
}

.learning-path p {
  margin: 0;
}

.learning-path-subtitle {
  text-transform: uppercase;
  color: rgba(0,0,0,0.4);
  font-size: 12px;
}

/* ====== End learning path CSS ====== */
/* ====== Start course section CSS ====== */

/* Container for .course-button. This entire div will be a clickable link. */
.course {
  display: inline-block;
  overflow: hidden;

  /* Responsive course buttons, 5 per column */
  width: 15%;
  height: 100px;
  margin: 2%;
}

/* .course-button is a button tag inside an anchor tag so that the entire button
   is a clickable href. .course-button is the class of the button tag. */
.course-button {
  border: 1px solid #1f1f1f;
  background-color: white;
  border-radius: 6px;
  text-align: center;

  /* Make button size of entire div (.course) */
  width: 100%;
  height: 100%;
}

/* .course-button is a button tag inside an anchor tag so that the entire button
   is a clickable href. .course-button is the class of the button tag. */
.course-button:hover {
  color: white;
  background-color: rgba(0 0 0 / 0.5);
}

/* ====== End course section CSS ====== */
