.blue-text { 
  color: #2777ff;
}

.blue-background {
  background-color: #2777ff;
}

.yellow-text {
  color: #ffbd03;
}

.yellow-background {
  color: #ffbd03;
}

.red-text {
  color: #eb4034;
}

.red-background {
  color: #eb4034;
}