/* ====== Start common CSS ====== */

.course-top-level-container {
  /* Prefer margin to padding so sub-elements can use 100% of div space */
  margin-left: 20%;
  margin-right: 20%;
}

pre {
  border-radius: 6px;
  padding: 18px;
  font-family: monospace;
}

/* ====== End common CSS ====== */
/* ====== Start course home CSS ====== */

.education-content-container {
  /* Direct children are .vertical column divs */
  display: flex;
  justify-content: space-evenly;
}

.vertical-column {
  /* Direct children are .education-content */
  display: inline-block;
}

.education-content {
  display: flex;
  flex-direction: column;
}

.tutorial-button {
  width: 100%;
  height: 50px;
  margin-top: 12px;
}

/* ====== End course home CSS ====== */