/* ====== Start common CSS ====== */

.course-top-level-container {
  /* Prefer margin to padding so sub-elements can use 100% of div space */
  margin-left: 20%;
  margin-right: 20%;
}

pre {
  background-color: #f6f6f6;
  border-radius: 6px;
  padding: 18px;
  font-family: monospace;
}

/* ====== End common CSS ====== */
/* ====== Start course home CSS ====== */

.course-home-root-container {
  display: flex;
}

.course-home-container {
  width: calc(100%/2);
  padding-left: 5%;
  padding-right: 5%;

  border-radius: 6px;
  text-align: center;
}

.course-home-container-left {
  background-color: #f6f6f6;
}

.course-home-container-right {
  background-color: white;
}

.tutorial-button {
  width: 100%;
  height: 50px;
  margin-top: 12px;

  border-radius: 25px;
  border: 1px solid white;
  font-size: calc(.35842vw + .95296em);
  font-weight: 700;
  color: white;
}

.tutorial-button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

/* ====== End course home CSS ====== */