/* ====== Start global CSS ====== */

html {
  font-family: "Soleil", Arial, sans-serif;
}

p,
pre {
  font-family: Elena,-apple-system,BlinkMacSystemFont,Roboto,roboto slab,droid serif,segoe ui,system-ui,Arial,sans-serif;
  font-size: calc(.35842vw + .95296em);
  line-height: calc(1.5em + .2vw);

  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #333;
}

.default-text {
  font-family: Elena,-apple-system,BlinkMacSystemFont,Roboto,roboto slab,droid serif,segoe ui,system-ui,Arial,sans-serif;
  font-size: calc(.35842vw + .95296em);
  line-height: calc(1.5em + .2vw);

  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #333;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.justify-text {
  text-align: justify;
}

.title {
  margin-top: 0;
  padding-top: 42px;
  
  font-weight: 200;
  color: 1f1f1f;
}

.sub-title {
  padding-bottom: 9px;

  border-bottom: 1px solid #1f1f1f;
  color: 1f1f1f;
  font-size: 18px;
  font-weight: 600;
}

.top-level-container {
  /* Prefer margin to padding so sub-elements can use 100% of div space */
  margin-left: 10%;
  margin-right: 10%;
  
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
}

/* ====== End global CSS ====== */
/* ====== Start page_header.php CSS ====== */

.header-tagline {
  font-family: monospace;
}

/* ====== End page_header.php CSS ====== */
/* ====== Start legal_disclaimer.php CSS ====== */

.legal-disclaimer {
  /* Top right bottom left */
  padding: 18px 60px 18px 60px;

  text-align: center; 
  background-color: rgb(200, 200, 200);
  border-radius: 3px;
}

.legal-disclaimer-heading {
  color: rgb(200 0 0);
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

/* ====== End legal_disclaimer.php CSS ====== */
/* Start tutorial_navigation.php CSS */

.tutorial-navigation {
  background-color: #333;
  padding-bottom: 21px;
  padding-top: 21px;
  border-radius: 6px;
}

.tutorial-navigation-button {
  /* width is [(100% - (2 * 3 * 5%)) / 3] to accomodate for margin */
  width: calc(70% / 3);
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 21px;
  padding-bottom: 21px;
  
  border-radius: 24px;
  font-weight: 700;
  background-color: white;
}

.tutorial-navigation-button:hover { 
  background-color: #333;
  border: 1px solid white;
  color: white;
}

/* End tutorial_navigation.php CSS */
/* Start terminal_text.php CSS */

.terminal-text-container {
  background-color: black;
  border-radius: 6px;
}

.terminal-text,
.terminal-prompt {
  display: inline-block;
  overflow: hidden;
}

.terminal-prompt p {
  font-family: monospace;
  color: #2777ff;
  padding-left: 18px;
}

/* Terminal typing animation */
.terminal-text p {
  font-family: monospace;
  color: white;
  
  /* Ensures the content is not revealed until the animation */
  overflow: hidden;
  
   /* The terminal cursor */
  border-right: .15em solid white;
  
  /* Keeps the content on a single line */
  white-space: nowrap;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

/* End terminal_text.php CSS */
